* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #2E3440;
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Fira Code Medium", sans-serif;
    margin: 0 0 100px;
}

main {
}

footer {
    background-color: #3B4252 !important;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    margin-bottom: -13em;
}

.nav-wrapper {
    background-color: #5E81AC;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.login {
    height: 50vh;
    margin: 0 auto;
    width: 25%;
    transform: translateY(calc(50vh - 50%));
}

.logo {
    text-align: center;
    color: #434C5E;
}

.btn {
    background-color: #5E81AC !important;
    font-family: "Fira Code Medium", sans-serif;
}

.btn:hover {
    background-color: #435c7b !important;
}

.no-acc {
    font-size: 15px;
    color: #434C5E;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    color: white;
    font-family: "Fira Code Medium", sans-serif !important;
}

input[type="text"]:focus + label,
input[type="text"]:focus:disabled + label,
input[type="password"]:focus + label {
    color: #A3BE8C !important;
}

input[type="text"]:focus,
input[type="text"]:focus:disabled,
input[type="password"]:focus {
    border-bottom: 1px solid #A3BE8C !important;
    box-shadow: 0 1px 0 0 #A3BE8C !important;
}

input[type="text"].valid,
input[type="text"].valid:disabled,
input[type="password"].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

input[type="text"].invalid,
input[type="text"].invalid:disabled,
input[type="password"].invalid {
/ / border-bottom: 1 px solid #000;
/ / box-shadow: 0 1 px 0 0 #000;
}


.brand-logo {
    margin-left: 0.5%;
}

.posts {
    color: #D8DEE9;
}

.category-link {
    font-size: 1.1em;
    text-decoration: underline;
    color: white;
    transition: ease-in-out .2s;
}

.category-link:hover{
    color: #7aa8e2;
    transition: .2s;
}

.post-title {
    color: #5E81AC;
}

.post-post-title {
    font-size: 3em;
    color: #5E81AC;
}

.post-content {
    color: #D8DEE9;
}

.tag {
    background-color: #D8DEE9;
    color: #435c7b;
}

.tag:hover {
    background-color: #5E81AC;
    color: #D8DEE9;
    transition: .2s;
}

.markdown h1, .markdown h2 {
    font-size: 2em;
}

.pagination li.active {
    background-color: #5E81AC;
}

.pagination {
    text-align: center;
}

.page-item a {
    color: #D8DEE9 !important;
}

.page-item:not(.disabled):hover {
    background-color: #5E81AC;
    transition: .5s;
}

.back-button {
    background-color: #5E81AC;
}

.new-post {
    background-color: #5E81AC;
}

.new-post:hover {
    background-color: #435c7b;
    transition: .5s;
}

.editor-toolbar a {
    color: white !important;
}

.chips .input {
    color: white !important;
}

.dropdown-content.select-dropdown {
    background-color: #5E81AC !important;
    color: white;
}

.dropdown-content.select-dropdown span {
    color: white !important;
}

.chips .dropdown-content {
    background-color: #5E81AC !important;
    color: white;
}

.chips.dropdown-content:hover {
    background-color: #5E81AC !important;
    color: white;
}

.chips .dropdown-content span {
    color: white !important;
}

.chips .dropdown-content span:hover {
    color: white !important;
}


.profile-content {
    color: white;
}

.profile-content p {
    font-size: 1.5em;
}

.tabs {
    background-color: #3B4252 !important;
}

.tabs .indicator {
    background-color: #5E81AC !important;
}

.tabs a:focus.active {
    background-color: #5E81AC !important;
}

.tabs a {
    color: white !important;
    text-transform: capitalize;
}

.tabs li {
    border: 1px solid #5E81AC;
    border-radius: 1px;
}

.tabs li:hover {
    background-color: #466080;
    transition: .2s;
}

.excerpt {
    font-family: "Fira Code Medium", sans-serif;
    color: white !important;
}

.excerpt:focus {
    border-bottom: 1px solid #A3BE8C !important;
    box-shadow: 0 1px 0 0 #A3BE8C !important;
}

.category-name {
    color: white;
}

.tag-name {
    color: white;
}

.dashboard-content-dash {
    transform: translateY(calc(50vh - 90%));
    color: #ECEFF4;
}

.blue-grey.darken-1 {
    background-color: #5E81AC !important;
}

.card {
    display: flex;
    cursor: pointer;
    transition: ease-in-out .2s;
    border-radius: .5em;
}

.card:hover {
    transform: scale(0.95);
    transition: .2s;
}

.card h2 {
    color: #ECEFF4;
    float: right;
}

.card i {
    color: #ECEFF4;
    float: left;
}


.dashboard-content h1 {
    color: white;
}

/*.tabs .empty {*/
/*    background-color: #2E3440 !important;*/
/*    height: 100%;*/
/*}*/

table {
    color: white !important;
}

table th {
    border-radius: 0;
}

table th, td {
    text-align: center;
    border-radius: 0;
}

table.highlight > tbody > tr:hover {
    background-color: #5E81AC;
}

.action-btn:hover {
    color: white;
    transition: .2s;
    cursor: pointer;
}

.modal {
    background-color: #2E3440 !important;
}

.category-add {
    width: 30em;
}

.tag-add {
    width: 30em;
}

.role-add {
    width: 30em;
}

.nav-icon {
    font-size: 10em;
}

.no-posts-message {
    text-align: center;
    color: white;
}

.no-posts a {
    font-size: 2em;
}

#tags {
}

.dropdown-content.select-dropdown {
    background-color: white !important;
    color: #5E81AC !important;

}

ul.dropdown-content.select-dropdown li span {
    color: #5E81AC !important;
}

.lever {
    background-color: #7dace5 !important;
}

.lever::after {
    background-color: #0056b3 !important;
}

.action-btn {
    color: #0056b3;
    font-size: 25px;
}

.switch input[type=submit] {
    display: none;
}

.switch label input[type=submit].checked ~ .lever {
    background-color: #2f93fa !important;
}

.switch label input[type=submit].checked ~ .lever:before,
.switch label input[type=submit].checked ~ .lever:after {
    transform: translateX(20px);
    background-color: #0056b3 !important;
}

.switch label input[type=submit] ~ .lever {
    background-color: #6c757d !important;
}

.switch label input[type=submit] ~ .lever:before,
.switch label input[type=submit] ~ .lever:after {
    background-color: #6c757d !important;
    transform: translateX(0px);
}

.container {
    color: white;
}

.comments{
    color: #5E81AC;
}

.comment-area{
    font-family: "Fira Code Medium", sans-serif;
    width: 40em!important;
    color: white !important;
}

.comment-area:focus {
    border-bottom: 1px solid #A3BE8C !important;
    box-shadow: 0 1px 0 0 #A3BE8C !important;
}

.post-hr{
    display: block; height: 1px;
    border: 0; border-top: 0.14em solid #5E81AC;
}


