<nav xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="nav-wrapper">
        <div class="container">
            <a href="/home" class="brand-logo">komma blog</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li th:if="${#httpServletRequest.requestURI != '/home'}"><a href="/home">Home</a></li>
                <li sec:authorize="!isAuthenticated()"
                    th:if="${#httpServletRequest.requestURI == '/register' || #httpServletRequest.requestURI == '/home'}">
                    <a href="/">Login</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{|/my-posts/${#authentication.name}|}"
                                                         th:if="${!#httpServletRequest.requestURI.startsWith('/my-posts')}">My
                    posts</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{|/user/${#authentication.name}|}">Profile</a></li>
                <li sec:authorize="isAuthenticated() && hasRole('ADMIN')"><a th:href="@{/dashboard}">Dashboard</a></li>
                <li><a sec:authorize="isAuthenticated()" th:if="${#httpServletRequest.requestURI != '/'}"
                       th:href="@{/logout}">Logout</a></li>
                <!--                <li><a href="collapsible.html">EN</a></li>-->
            </ul>
        </div>
    </div>
</nav>