<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Komma | Blog</title>
    <div th:include="../fragments/head-fragment.html"></div>
</head>
<body>
<main>
    <nav th:replace="../fragments/nav.html"></nav>
    <div class="container pt-5">
        <div class="dashboard-content">
            <h1 class="mt-2 center">Dashboard</h1>
            <a href="/dashboard">
                <button class="btn waves-effect waves-light mb-3" type="submit" name="action"><i class="material-icons">arrow_back</i>
                </button>
            </a>
            <div class="row col s12">
                <div>
                    <ul class="tabs">
                        <li class="tab col s3"><a class="active" th:href="@{/dashboard/posts}">Posts</a></li>
                        <li class="tab col s3"><a th:href="@{/dashboard/tags}">Tags</a></li>
                        <li class="tab col s3"><a th:href="@{/dashboard/categories}">Categories</a></li>
                        <li class="tab col s3"><a th:href="@{/dashboard/users}">Users</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="categories-table">
            <table class="responsive-table mt-5 highlight">
                <thead>
                <tr>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="category : ${dashCategories}">
                    <!--/*@thymesVar id="category" type="com.tzivadinovic.komma.entity.Category"*/-->
                    <td th:text="${category.name}"></td>
                    <td>
                        <a href="" th:href="@{/update-category/{id}(id=${category.id})}" class="modal-trigger">
                            <i class="material-icons action-btn">create</i>
                        </a>
                        <a href="" class="modal-trigger">
                            <i class="material-icons action-btn">delete</i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <a href="#create-category"
           class="btn-floating btn-large waves-effect waves-light right new-post mt-3 modal-trigger">
            <i class="material-icons">add</i></a>
        <div aria-label="Pagination" th:if="${dashCategories.totalPages > 0}">
            <ul class="pagination justify-content-center font-weight-medium mt-5 mb-5">
                <li class="page-item" th:classappend="${dashCategories.number == 0} ? 'disabled'">
                    <a class="page-link svg-icon"
                       th:href="@{/dashboard/categories?page={id}(id=${dashCategories.number < 1 ? 1 : dashCategories.number - 1})}"
                       aria-label="Previous"
                       title="Previous Page" rel="tooltip">
                        Previous
                        <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20"></span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${i == dashCategories.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( dashCategories.number + 1, ((dashCategories.totalPages > 10 + dashCategories.number) ? dashCategories.number + 10 : dashCategories.totalPages), 1)}">
                    <a class="page-link" th:href="@{/dashboard/categories?page={id}(id=${i - 1})}"
                       th:text="${i}"
                       th:title="${'Page '+ i}"
                       rel="tooltip"></a>
                </li>
                <li class="page-item disabled" th:if="${dashCategories.number + 10 < dashCategories.totalPages}">
                    <a class="page-link svg-icon" href="#">
                        <span data-feather="more-horizontal" width="20" height="20"></span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${dashCategories.number + 1 == dashCategories.totalPages} ? 'disabled'">
                    <a class="page-link svg-icon"
                       th:href="@{/dashboard/categories?page={id}(id=${dashCategories.number + 1})}"
                       aria-label="Next"
                       title="Next Page" rel="tooltip">
                        Next
                        <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div id="create-category" class="modal category-add">
            <div class="modal-content">
                <form method="post" th:action="@{/save-category}">
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Category name" id="addName" type="text" class="validate" name="name">
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light right mt-3 mb-5" type="submit" name="action">Save
                        <i class="material-icons right">done</i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="../fragments/footer.html"></footer>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {});
    });
</script>
</body>
</html>