<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>komma | blog</title>
    <div th:include="../fragments/head-fragment.html"></div>
</head>
<body>
<main>
    <nav th:replace="../fragments/nav.html"></nav>
    <div class="container pt-5">
        <div class="dashboard-content">
            <h1 class="mt-2 center">Dashboard</h1>
            <a href="/dashboard">
                <button class="btn waves-effect waves-light mb-3" type="submit" name="action"><i class="material-icons">arrow_back</i>
                </button>
            </a>
            <div class="row col s12">
                <div>
                    <ul class="tabs">
                        <li class="tab col s3"><a class="active" th:href="@{/dashboard/posts}">Posts</a></li>
                        <li class="tab col s3"><a th:href="@{/dashboard/tags}">Tags</a></li>
                        <li class="tab col s3"><a th:href="@{/dashboard/categories}">Categories</a></li>
                        <li class="tab col s3"><a th:href="@{/dashboard/users}">Users</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <table class="responsive-table mt-5 highlight" xmlns:th="http://www.thymeleaf.org">
            <thead>
            <tr>
                <th>Author</th>
                <th>Category</th>
                <th>Title</th>
                <th>Tags</th>
                <th>Published</th>
                <th>Manage</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="post : ${dashPosts}">
                <!--/*@thymesVar id="post" type="com.tzivadinovic.komma.entity.Post"*/-->
                <td th:text="${post.user.displayName}"></td>
                <td th:text="${post?.category?.name}"></td>
                <td th:text="${post.title}"></td>
                <td th:text="${post.tags}"></td>
                <td>
                    <form th:action="@{/update-post-status/{id}(id=${post.id})}" method="post">
                        <div class="switch">
                            <label>
                                <input type="submit" th:class="${post.published} ? 'checked'">
                                <span class="lever"></span>
                            </label>
                        </div>
                    </form>
                </td>
                <td>
                    <a class="modal-trigger" th:href="@{/posts/{id}(id=${post.id})}"><i
                            class="material-icons action-btn">create</i></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div aria-label="Pagination" th:if="${dashPosts.totalPages > 0}">
            <ul class="pagination justify-content-center font-weight-medium mt-5 mb-5">
                <li class="page-item" th:classappend="${dashPosts.number == 0} ? 'disabled'">
                    <a class="page-link svg-icon"
                       th:href="@{/dashboard/posts?page={id}(id=${dashPosts.number < 1 ? 1 : dashPosts.number - 1})}"
                       aria-label="Previous"
                       title="Previous Page" rel="tooltip">
                        Previous
                        <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20"></span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${i == dashPosts.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( dashPosts.number + 1, ((dashPosts.totalPages > 10 + dashPosts.number) ? dashPosts.number + 10 : dashPosts.totalPages), 1)}">
                    <a class="page-link" th:href="@{/dashboard/posts/?page={id}(id=${i - 1})}" th:text="${i}"
                       th:title="${'Page '+ i}"
                       rel="tooltip"></a>
                </li>
                <li class="page-item disabled" th:if="${dashPosts.number + 10 < dashPosts.totalPages}">
                    <a class="page-link svg-icon" href="#">
                        <span data-feather="more-horizontal" width="20" height="20"></span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${dashPosts.number + 1 == dashPosts.totalPages} ? 'disabled'">
                    <a class="page-link svg-icon" th:href="@{/dashboard/posts?page={id}(id=${dashPosts.number + 1})}"
                       aria-label="Next"
                       title="Next Page" rel="tooltip">
                        Next
                        <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>
<footer th:replace="../fragments/footer.html"></footer>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, options);
    });
</script>
</body>
</html>
