<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>komma | blog</title>
    <div th:include="../fragments/head-fragment.html"></div>
</head>
<body>
<main>
    <nav th:replace="../fragments/nav.html"></nav>
    <div class="container pt-5">
        <div class="dashboard-content">
            <h1 class="mt-2 center">Dashboard</h1>
            <a href="/dashboard">
                <button class="btn waves-effect waves-light mb-3" type="submit" name="action"><i class="material-icons">arrow_back</i>
                </button>
            </a>
            <div class="row col s12">
                <div>
                    <ul class="tabs">
                        <li class="tab col s3"><a class="active" th:href="@{/dashboard/posts}">Posts</a></li>
                        <li class="tab col s3"><a th:href="@{/dashboard/tags}">Tags</a></li>
                        <li class="tab col s3"><a th:href="@{/dashboard/categories}">Categories</a></li>
                        <li class="tab col s3"><a th:href="@{/dashboard/users}">Users</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tags-table">
            <table class="responsive-table mt-5 highlight">
                <thead>
                <tr>
                    <th>Tag Name</th>
                    <th>Manage</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="tag : ${dashTags}">
                    <!--/*@thymesVar id="tag" type="com.tzivadinovic.komma.entity.Tag"*/-->
                    <td th:text="${tag.name}"></td>
                    <td>
                        <a th:href="@{/tag/{id}(id=${tag.id})}"><i class="material-icons tags-action-btn">create</i></a>
                        <a th:href="@{/tag/delete/{id}(id=${tag.id})}"><i
                                class="material-icons tags-delete-btn">delete</i></a>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
        <a href="#create-tag" class="btn-floating btn-large waves-effect waves-light right new-post mt-3 modal-trigger"><i
                class="material-icons">add</i></a>
        <div aria-label="Pagination" th:if="${dashTags.totalPages > 0}">
            <ul class="pagination justify-content-center font-weight-medium mt-5 mb-5">
                <li class="page-item" th:classappend="${dashTags.number == 0} ? 'disabled'">
                    <a class="page-link svg-icon"
                       th:href="@{/dashboard/tags?page={id}(id=${dashTags.number < 1 ? 1 : dashTags.number - 1})}"
                       aria-label="Previous"
                       title="Previous Page" rel="tooltip">
                        Previous
                        <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20"></span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${i == dashTags.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( dashTags.number + 1, ((dashTags.totalPages > 10 + dashTags.number) ? dashTags.number + 10 : dashTags.totalPages), 1)}">
                    <a class="page-link" th:href="@{/dashboard/tags?page={id}(id=${i - 1})}"
                       th:text="${i}"
                       th:title="${'Page '+ i}"
                       rel="tooltip"></a>
                </li>
                <li class="page-item disabled" th:if="${dashTags.number + 10 < dashTags.totalPages}">
                    <a class="page-link svg-icon" href="#">
                        <span data-feather="more-horizontal" width="20" height="20"></span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${dashTags.number + 1 == dashTags.totalPages} ? 'disabled'">
                    <a class="page-link svg-icon"
                       th:href="@{/dashboard/tags?page={id}(id=${dashTags.number + 1})}"
                       aria-label="Next"
                       title="Next Page" rel="tooltip">
                        Next
                        <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div id="create-tag" class="modal tag-add">
            <div class="modal-content">
                <form method="post" th:action="@{/save-tag}">
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Tag name" id="name" type="text" class="validate" name="name">
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light right mt-3 mb-5" type="submit" name="action">Save
                        <i class="material-icons right">done</i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="../fragments/footer.html"></footer>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {});
    });
</script>
</body>
</html>
