<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>komma | login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="shortcut icon" type="image/png" th:href="@{../public/favicon.ico}"/>
    <link href="index.css" rel="stylesheet">
</head>
<body>
<nav th:replace="../fragments/nav.html"></nav>
<div class="wrapper">
    <div class="login">
        <div class="row">
            <h1 class="logo">komma|blog</h1>
            <form class="col s12" method="post" th:action="@{/perform_login}">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" type="text" class="validate" name="username">
                        <label for="username">Username</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate" name="password">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div th:switch="${#httpServletRequest.getParameter('error')}">
                    <span th:case="'badCredentials'" class="alert red white-text" th:text="#{auth.badCredentials}"></span>
                    <span th:case="'locked'" class="alert red white-text" th:text="#{auth.locked}"></span>
                    <span th:case="'disabled'" class="alert red white-text" th:text="#{auth.disabled}"></span>
                    <span th:case="'expired'" class="alert red white-text" th:text="#{auth.expired}"></span>
                    <span th:case="'notFound'" class="alert red white-text" th:text="#{auth.notFound}"></span>
                </div>
                <small class="no-acc">No account? <a href="" th:href="@{/register}">Register</a></small>
                <button class="btn waves-effect waves-light right" type="submit" name="action">Login
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>