<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Komma | Home</title>
    <div th:include="../fragments/head-fragment.html"></div>
</head>
<body>
<nav th:replace="../fragments/nav.html"></nav>
<div>
    <div class="container pt-5">
        <div th:if="${posts.size() > 0}" class="posts">
            <div th:each="post : ${posts}" th:include="../fragments/post-list-item.html :: postListItem(post)"></div>
        </div>
    </div>
</div>
</body>
</html>