<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Komma | Blog</title>
    <div th:include="../fragments/head-fragment.html"></div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <link href="index.css" rel="stylesheet">
</head>
<body>
<nav th:insert="../fragments/nav.html"></nav>
<div class="container pt-5 mt-5">
    <div class="row">
        <!--/*@thymesVar id="post" type="com.tzivadinovic.komma.entity.dto.PostDTO"*/-->
        <form class="col s12" method="post" th:action="@{/create-post}" th:object="${post}">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Write the title of your post (max=96 characters)" id="title" type="text"
                           class="validate"
                           name="title">
                    <label for="title">Title</label>
                </div>
                <div class="input-field col s6">
                    <!--/*@thymesVar id="category" type="com.tzivadinovic.komma.entity.Category"*/-->
                    <select th:object="${category}" name="category">
                        <option value="" selected>Category</option>
                        <option th:each="category : ${categories}"
                                th:text="${category.name}" th:value="${category.id}"></option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea name="excerpt" id="excerpt" cols="30" rows="10" placeholder="Excerpt"
                              class="materialize-textarea excerpt"></textarea>
                </div>
            </div>

            <textarea name="content" id="content" cols="30" rows="10"></textarea>

            <div class="input-field col s12">
                <select multiple id="tags" name="tags">
                    <option disabled>Tags</option>
                    <option th:each="tag : ${tags}" th:text="${tag.name}" th:value="${tag.name}"></option>
                </select>
                <label>Tags</label>
            </div>

            <button class="btn waves-effect waves-light right mt-3 mb-5" type="submit" name="action">Post
                <i class="material-icons right">done</i>
            </button>
        </form>
    </div>
</div>
<script>
    var simplemde = new SimpleMDE({
        element: document.getElementById("content"),
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const elems = document.querySelectorAll('select');
        const instances = M.FormSelect.init(elems, {});
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tagsInput = document.getElementById("tags2");
        tagsInput.addEventListener("change", console.log(tagsInput.nodeValue));
        const tags = document.querySelectorAll(".chips");
        fetch("/api/tags").then(res => res.json())
            .then(res => {
                const data = {};
                res.forEach(tag => Object.assign(data, {[tag.name]: null}));
                M.Chips.init(tags, {
                    // onChipAdd: function (el, chip) {
                    //     // tagsInput.nodeValue = this.chipData.map(tag => tag.name).join(',')
                    // },
                    // onChipDelete: function (el, chip) {
                    //     tagsInput.nodeValue = this.chipData.map(tag => tag.name).join(',')
                    // },
                    autocompleteOptions: {
                        data,
                        limit: Infinity,
                        minLength: 1
                    }
                });
            });
    });
</script>
<footer th:replace="../fragments/footer.html"></footer>
</body>

</html>