<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Komma | Blog</title>
    <div th:include="../fragments/head-fragment.html"></div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <link href="index.css" rel="stylesheet">
</head>
<body>
<nav th:insert="../fragments/nav.html"></nav>
<div class="container pt-5 mt-5">
    <div class="row">
        <!--/*@thymesVar id="post" type="com.tzivadinovic.komma.entity.Post"*/-->
        <form class="col s12" method="post" th:action="@{/createPost}" th:object="${post}">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Write the title of your post" id="title" type="text" class="validate"
                           name="title">
                    <label for="title">Title</label>
                </div>
                <div class="input-field col s6">
                    <select th:field="${categories}">
                        <option value="" selected>Category</option>
                        <option value="" th:each="category : ${categories}"
                                th:text="${category.name}"></option>
                    </select>
                </div>
            </div>

            <textarea name="content" id="" cols="30" rows="10"></textarea>

            <label>Tags</label>
            <div class="chips chips-autocomplete" th:name="tags"></div>

            <button class="btn waves-effect waves-light right mt-3 mb-5" type="submit" name="action">Post
                <i class="material-icons right">done</i>
            </button>
        </form>
    </div>
</div>
<script>
    var simplemde = new SimpleMDE();
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const elems = document.querySelectorAll('select');
        const instances = M.FormSelect.init(elems, {});
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tags = document.querySelectorAll(".chips");
        fetch("/api/tags").then(res => res.json())
            .then(res => {
                const data = {};
                res.forEach(tag => Object.assign(data, {[tag.name]: null}));
                M.Chips.init(tags, {
                    autocompleteOptions: {
                        data,
                        limit: Infinity,
                        minLength: 1
                    }
                });
            });
    });
</script>
<footer th:replace="../fragments/footer.html"></footer>
</body>

</html>