<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <meta charset="UTF-8">
    <title th:text="${post.title}"></title>
    <div th:include="../fragments/head-fragment.html"></div>
</head>
<body>
<nav th:replace="../fragments/nav.html"></nav>
<main>
    <div class="container pt-5 mb-5 post-img">
        <a href="/home">
            <button class="btn waves-effect waves-light" type="submit" name="action"><i class="material-icons">arrow_back</i>
            </button>
        </a>
        <h5 th:text="${#temporals.format(post.createdDate, 'dd.MM.yyyy.')}"></h5>
        Author:
        <a href="" th:text="${post.user.displayName}"></a>
        <h1 th:text="${post.title}" class="post-post-title"></h1>
        <div id="content" th:text="${post.content}" class="post-content markdown"></div>
        <hr class="post-hr mt-5">
        <h3 class="comments mt-5">Comments</h3>
        <div class="row">
            <form class="col" method="post" th:action="@{/save-comment/posts/{id}(id=${post.id})}">
                <div class="row">
                    <div class="input-field col s6">
                        <textarea id="textarea1" placeholder="Write your comment"
                                  class="materialize-textarea comment-area" name="content"></textarea>
                    </div>
                </div>
                <button class="btn waves-effect waves-light right mt-3 mb-5" type="submit" name="action">Comment
                    <i class="material-icons right">done</i>
                </button>
            </form>
        </div>
        <div th:each="comment : ${comments}"
             th:include="../fragments/comment-fragment.html :: commentListItem(comment)" class="comments-fragment mb-5">
        </div>
    </div>
</main>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const content = document.getElementById('content');
        content.innerHTML = marked(content.innerHTML);
    });
</script>
<footer th:replace="../fragments/footer.html"></footer>
</body>
</html>

