<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>komma | blog</title>
    <div th:include="../fragments/head-fragment.html"></div>
</head>
<body>
<nav th:replace="../fragments/nav.html"></nav>
<div class="container pt-5 mb-5">
    <a href="/home">
        <button class="btn waves-effect waves-light" type="submit" name="action"><i
                class="material-icons">arrow_back</i>
        </button>
    </a>
    <h3 th:text="'Category => ' + ${categoryName}" class="mb-5 category-name"></h3>
    <div th:if="${categoryPosts.size() > 0}" class="posts">
        <div th:each="post : ${categoryPosts}"
             th:include="../fragments/post-list-item.html :: postListItem(categoryPosts)"></div>
    </div>
</div>
</body>
</html>