<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Komma | Blog</title>
  <div th:include="../fragments/head-fragment.html"></div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <link href="index.css" rel="stylesheet">
</head>
<body>
<nav th:replace="../fragments/nav.html"></nav>
<div sec:authorize="isAuthenticated()">Authenticated as <span sec:authentication="name"></span></div>
<footer th:replace="../fragments/footer.html"></footer>
</body>
</html>